<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.facmanager">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FacApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="건설현장관리App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FacManager"
        android:usesCleartextTraffic="true">
        <activity android:name=".PasswordActivity"></activity>
        <activity android:name=".UserInfoActivity" />
        <activity android:name=".PlaceDeleteActivity" />
        <activity android:name=".PlaceEditActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".TaskListTeamActivity" />
        <activity android:name=".TaskListActivity" />
        <activity android:name=".PlaceActivity" />
        <activity android:name=".FacilityActivity" />
        <activity android:name=".AttendFilterActivity" />
        <activity android:name=".FacListActivity" />
        <activity android:name=".CreateIdActivity" />
        <activity android:name=".FacFilterActivity" />
        <activity android:name=".AttendActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>